n8n/workflows/ai_analysis.json
[{"updatedAt":"2026-02-17T15:59:00.166Z","createdAt":"2026-02-17T15:38:04.890Z","id":"hpD55UccqHb4uYVl","name":"Ontoiq: AI Analysis (Native)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":2}]}},"id":"trigger-schedule","name":"Schedule Trigger","position":[64,304],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM pending_content WHERE processing_attempts < 3 LIMIT 5;","options":{}},"id":"postgres-fetch-pending","name":"Fetch Pending Content","position":[256,304],"type":"n8n-nodes-base.postgres","typeVersion":2.6,"credentials":{"postgres":{"id":"NHFePvW6Yyih50Vi","name":"Postgres account"}}},{"parameters":{"conditions":{"combinator":"and","conditions":[{"id":"condition-1","leftValue":"={{ $json.length }}","operator":{"operation":"gt","type":"number"},"rightValue":0}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"}},"options":{}},"id":"if-has-content","name":"Has Content?","position":[464,304],"type":"n8n-nodes-base.if","typeVersion":2},{"parameters":{"operation":"executeQuery","query":"SELECT transition_content_state('content_source', $1, 'processing', 'AI analysis');","options":{}},"id":"postgres-set-processing","name":"Set State: Processing","position":[656,208],"type":"n8n-nodes-base.postgres","typeVersion":2.6,"credentials":{"postgres":{"id":"NHFePvW6Yyih50Vi","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"https://srv1368386.hstgr.cloud/tools/invoke","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"http-openclaw","name":"Call OpenClaw","position":[864,208],"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"credentials":{"httpHeaderAuth":{"id":"OPENCLAW_API","name":"OpenClaw API"},"httpBearerAuth":{"id":"18aRlGvOiAyYsJpc","name":"Openclaw Bearer Auth account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT transition_content_state('content_source', $1, 'completed', 'AI analysis completed');","options":{}},"id":"postgres-set-completed","name":"Set State: Completed","position":[1056,208],"type":"n8n-nodes-base.postgres","typeVersion":2.6,"credentials":{"postgres":{"id":"NHFePvW6Yyih50Vi","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT transition_content_state('content_source', $1, 'failed', 'AI analysis failed', $2);","options":{}},"id":"postgres-set-failed","name":"Set State: Failed","position":[768,512],"type":"n8n-nodes-base.postgres","typeVersion":2.6,"credentials":{"postgres":{"id":"NHFePvW6Yyih50Vi","name":"Postgres account"}}},{"parameters":{"chatId":"={{ $vars.USER_TELEGRAM_ID }}","text":"⚠️ AI Analysis Failed\n\nContent: {{ $json.title }}\n\nError: {{ $json.error }}\n\nRetry attempt: {{ $json.processing_attempts + 1 }}/3","additionalFields":{}},"id":"telegram-error","name":"Notify Error","position":[1056,400],"type":"n8n-nodes-base.telegram","typeVersion":1.1,"webhookId":"f55e882a-3174-4c23-97eb-abc5d960da9c","credentials":{"telegramApi":{"id":"TELEGRAM_BOT","name":"Telegram Bot"}}}],"connections":{"Call OpenClaw":{"error":[[{"index":0,"node":"Set State: Failed","type":"main"}]],"main":[[{"index":0,"node":"Set State: Completed","type":"main"}]]},"Fetch Pending Content":{"main":[[{"index":0,"node":"Has Content?","type":"main"}]]},"Has Content?":{"main":[[{"index":0,"node":"Set State: Processing","type":"main"}]]},"Schedule Trigger":{"main":[[{"index":0,"node":"Fetch Pending Content","type":"main"}]]},"Set State: Failed":{"main":[[{"index":0,"node":"Notify Error","type":"main"}]]},"Set State: Processing":{"main":[[{"index":0,"node":"Call OpenClaw","type":"main"}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[18]}},"meta":null,"pinData":{},"versionId":"c0d2d898-b6c1-4a9e-ac5e-2cf4cbd1c9b2","activeVersionId":"ad178b9d-9f24-4a90-aa6d-a9a7d9570ff4","versionCounter":64,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-17T15:38:04.890Z","createdAt":"2026-02-17T15:38:04.890Z","role":"workflow:owner","workflowId":"hpD55UccqHb4uYVl","projectId":"jbEB96CBOZVRHjty","project":{"updatedAt":"2026-02-16T16:56:35.765Z","createdAt":"2026-02-16T15:35:34.152Z","id":"jbEB96CBOZVRHjty","name":"Phakkhaphong Krittawat <phakkhaphong@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"f1acc764-50ad-411f-aeab-dbf3971a36a5"}}]}]