n8n/workflows/content_ingestion.json
[{"updatedAt":"2026-02-19T13:48:37.462Z","createdAt":"2026-02-17T03:45:10.863Z","id":"iU6LE7a6bkq98PG0","name":"Ontoiq: Content Ingestion (Native)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"id":"trigger-schedule","name":"Schedule Trigger","position":[-48,112],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1},{"parameters":{"fileSelector":"/home/node/vault/raw/**/*.md"},"id":"read-binary-files","name":"Read Binary Files","position":[112,400],"type":"n8n-nodes-base.readBinaryFiles","typeVersion":1},{"parameters":{"jsCode":"const items = [];\nconst knownSlugs = ['data-analytics','microsoft-fabric','ai-machine-learning','data-engineering','system-architecture','project-management','content-creation','daily-journal','ideas-inspiration','meeting-notes'];\n\nfor (const item of $input.all()) {\n  const content = item.json.fileContent || '';\n  if (!content) continue;\n\n  const frontmatter = {};\n  const fmMatch = content.match(/^---\\n([\\s\\S]*?)\\n---/);\n  if (fmMatch) {\n    for (const line of fmMatch[1].split('\\n')) {\n      const colonIdx = line.indexOf(':');\n      if (colonIdx > 0) {\n        const key = line.substring(0, colonIdx).trim();\n        const val = line.substring(colonIdx + 1).trim().replace(/^['\"]|['\"]$/g, '');\n        frontmatter[key] = val;\n      }\n    }\n  }\n\n  const bodyMatch = content.match(/^---[\\s\\S]*?---\\n([\\s\\S]*)$/);\n  const body = bodyMatch ? bodyMatch[1].trim() : content;\n\n  const rawSlug = frontmatter.domain_slug || frontmatter.source_type || '';\n  const domain_slug = knownSlugs.includes(rawSlug) ? rawSlug : 'content-creation';\n\n  items.push({\n    json: {\n      source_type: frontmatter.source_type || 'unknown',\n      title: frontmatter.title || 'Untitled',\n      raw_content: body,\n      domain_slug,\n      url: frontmatter.url || '',\n      author: frontmatter.author || ''\n    }\n  });\n}\n\nreturn items;"},"id":"edit-fields-parse","name":"Parse Frontmatter","position":[480,192],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"operation":"executeQuery","options":{},"query":"SELECT id FROM knowledge_domains WHERE slug = '{{ $json.domain_slug }}'"},"id":"postgres-lookup-domain","name":"Lookup Domain ID","position":[656,304],"type":"n8n-nodes-base.postgres","typeVersion":2.6,"credentials":{"postgres":{"id":"NHFePvW6Yyih50Vi","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","options":{"queryBatching":"independently"},"query":"={{ $json.sql }}"},"id":"postgres-upsert-source","name":"Upsert Content Source","position":[864,304],"type":"n8n-nodes-base.postgres","typeVersion":2.6,"credentials":{"postgres":{"id":"NHFePvW6Yyih50Vi","name":"Postgres account"}}},{"parameters":{"conditions":{"combinator":"and","conditions":[{"id":"condition-1","leftValue":"={{ $items().length }}","operator":{"operation":"gt","type":"number"},"rightValue":0}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"}},"options":{}},"id":"if-has-files","name":"Has New Files?","position":[240,176],"type":"n8n-nodes-base.if","typeVersion":2},{"parameters":{"additionalFields":{},"chatId":"1605360844","text":"=📥 Content ingestion: {{ $items().length }} new files processed"},"id":"telegram-success","name":"Notify Success","position":[1056,304],"type":"n8n-nodes-base.telegram","typeVersion":1.1,"webhookId":"ff6822b4-9e20-4409-a7fc-c6e1d697abad","credentials":{"telegramApi":{"id":"y6JUWF87R2LZqnUZ","name":"Telegram account"}}},{"parameters":{"additionalFields":{},"chatId":"1605360844","text":"=⚠️ Content ingestion: No new files found"},"id":"telegram-no-files","name":"Notify No Files","position":[464,512],"type":"n8n-nodes-base.telegram","typeVersion":1.1,"webhookId":"b9f557ff-b279-4f5b-97c0-8d9b4ff8d0dd","credentials":{"telegramApi":{"id":"y6JUWF87R2LZqnUZ","name":"Telegram account"}}},{"parameters":{},"id":"manual-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-128,512]},{"parameters":{"httpMethod":"POST","path":"test-content-ingestion","responseMode":"lastNode","options":{}},"id":"trigger-webhook","name":"Webhook Trigger (Test)","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-208,272],"webhookId":"2c4e3992-7231-4479-a48d-38b254993ebc"},{"id":"extract-text","name":"Extract Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[340,192],"parameters":{"binaryPropertyName":"data","destinationKey":"fileContent","operation":"text"}},{"id":"build-sql","name":"Build SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[760,304],"parameters":{"jsCode":"const validTypes = ['youtube','blog','article','pdf','book','podcast','meeting','note','message'];\nconst items = [];\nconst parsedItems = $('Parse Frontmatter').all();\n\nfor (let i = 0; i < $input.all().length; i++) {\n  const item = $input.all()[i];\n  const domainId = item.json.id;\n  const pIdx = item.pairedItem?.item ?? i;\n  const parsed = (parsedItems[pIdx] || parsedItems[0]).json;\n\n  const esc = (s) => String(s || '').replace(/'/g, \"''\").substring(0, 10000);\n  const rawType = (parsed.source_type || 'note').toLowerCase();\n  const source_type = validTypes.includes(rawType) ? rawType : 'note';\n\n  const sql = `INSERT INTO content_sources (source_type, title, raw_content, url, author, domain_id, processing_state) VALUES ('${source_type}', '${esc(parsed.title)}', '${esc(parsed.raw_content)}', '${esc(parsed.url)}', '${esc(parsed.author)}', '${domainId}', 'pending') ON CONFLICT (source_type, url) DO NOTHING;`;\n\n  items.push({ json: { sql, source_type, title: parsed.title, domain_id: domainId } });\n}\n\nreturn items;"}}],"connections":{"Has New Files?":{"main":[[{"node":"Extract Text","type":"main","index":0}],[{"index":0,"node":"Notify No Files","type":"main"}]]},"Parse Frontmatter":{"main":[[{"index":0,"node":"Lookup Domain ID","type":"main"}]]},"Read Binary Files":{"main":[[{"index":0,"node":"Has New Files?","type":"main"}]]},"Schedule Trigger":{"main":[[{"index":0,"node":"Read Binary Files","type":"main"}]]},"Upsert Content Source":{"main":[[{"index":0,"node":"Notify Success","type":"main"}]]},"Manual Trigger":{"main":[[{"node":"Read Binary Files","type":"main","index":0}]]},"Webhook Trigger (Test)":{"main":[[{"node":"Read Binary Files","type":"main","index":0}]]},"Extract Text":{"main":[[{"node":"Parse Frontmatter","type":"main","index":0}]]},"Lookup Domain ID":{"main":[[{"node":"Build SQL","type":"main","index":0}]]},"Build SQL":{"main":[[{"node":"Upsert Content Source","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[18]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3a1a2cb4-1895-43fb-a9d0-faace45d1259","activeVersionId":"3a1a2cb4-1895-43fb-a9d0-faace45d1259","versionCounter":109,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2026-02-17T03:45:10.863Z","createdAt":"2026-02-17T03:45:10.863Z","role":"workflow:owner","workflowId":"iU6LE7a6bkq98PG0","projectId":"jbEB96CBOZVRHjty","project":{"updatedAt":"2026-02-16T16:56:35.765Z","createdAt":"2026-02-16T15:35:34.152Z","id":"jbEB96CBOZVRHjty","name":"Phakkhaphong Krittawat <phakkhaphong@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"f1acc764-50ad-411f-aeab-dbf3971a36a5"}}]}]