n8n/workflows/embedding_pipeline.json
[{"updatedAt":"2026-02-20T12:38:20.702Z","createdAt":"2026-02-17T15:37:52.616Z","id":"5oS1HrJDuVcmZXO0","name":"Ontoiq: Embedding Pipeline (Native)","description":null,"active":true,"isArchived":false,"nodes":[{"id":"trigger-schedule","name":"Schedule Trigger","parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"position":[50,300],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3},{"credentials":{"postgres":{"id":"NHFePvW6Yyih50Vi","name":"Postgres account"}},"id":"postgres-fetch-pending","name":"Fetch Pending Chunks","parameters":{"operation":"executeQuery","query":"SELECT id, source_id, chunk_text, chunk_number FROM content_chunks WHERE qdrant_point_id IS NULL ORDER BY created_at ASC LIMIT 50"},"position":[250,300],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"id":"if-has-chunks","name":"Has Chunks?","parameters":{"conditions":{"combinator":"and","conditions":[{"id":"condition-1","leftValue":"={{ $json.length }}","operator":{"operation":"gt","type":"number"},"rightValue":0}],"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"}}},"position":[450,300],"type":"n8n-nodes-base.if","typeVersion":2},{"credentials":{"openAiApi":{"id":"MWHUCtlLR1pLgIwM","name":"OpenAi account"}},"id":"openai-embeddings","name":"Generate Embeddings","parameters":{"model":"text-embedding-3-large","options":{"dimensions":1536}},"position":[650,300],"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2},{"credentials":{"postgres":{"id":"NHFePvW6Yyih50Vi","name":"Postgres account"}},"id":"postgres-update-status","name":"Update Status","parameters":{"column":"qdrant_point_id","conditions":{"id":"={{ $json.id }}"},"operation":"update","schema":"public","table":"content_chunks","updateKey":"id","value":"={{ $json.id }}"},"position":[1050,300],"type":"n8n-nodes-base.postgres","typeVersion":2.6},{"id":"wait-rate-limit","name":"Wait (Rate Limit)","parameters":{"amount":1,"unit":"seconds"},"position":[1250,300],"type":"n8n-nodes-base.wait","typeVersion":1.1},{"credentials":{"telegramApi":{"id":"TELEGRAM_BOT","name":"Telegram Bot"}},"id":"telegram-notify","name":"Notify Complete","parameters":{"chatId":"={{ $vars.USER_TELEGRAM_ID }}","operation":"sendMessage","text":"=🧠 Embedding Pipeline: Processed {{ $json.length }} chunks"},"position":[1450,300],"type":"n8n-nodes-base.telegram","typeVersion":1.1},{"id":"qdrant-upsert","name":"Upsert to Qdrant","type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[850,300],"parameters":{"collectionName":"content_embeddings","operation":"upsertPoints","options":{},"points":"={{ [{id: $json.id, vector: $json.embedding, payload: {chunk_number: $json.chunk_number, source_id: $json.source_id}}] }}","resource":"point"},"credentials":{"qdrantRestApi":{"id":"PNSmTB1DT99ixGRO","name":"Qdrant account"}}}],"connections":{"Fetch Pending Chunks":{"main":[[{"index":0,"node":"Has Chunks?","type":"main"}]]},"Has Chunks?":{"main":[[{"index":0,"node":"Generate Embeddings","type":"main"}]]},"Schedule Trigger":{"main":[[{"index":0,"node":"Fetch Pending Chunks","type":"main"}]]},"Update Status":{"main":[[{"index":0,"node":"Wait (Rate Limit)","type":"main"}]]},"Wait (Rate Limit)":{"main":[[{"index":0,"node":"Notify Complete","type":"main"}]]},"Generate Embeddings":{"main":[[{"node":"Upsert to Qdrant","type":"main","index":0}]]},"Upsert to Qdrant":{"main":[[{"node":"Update Status","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"27063c61-190c-4ea5-972a-abe584c1e8ba","activeVersionId":"27063c61-190c-4ea5-972a-abe584c1e8ba","versionCounter":30,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-17T15:37:52.616Z","createdAt":"2026-02-17T15:37:52.616Z","role":"workflow:owner","workflowId":"5oS1HrJDuVcmZXO0","projectId":"jbEB96CBOZVRHjty","project":{"updatedAt":"2026-02-16T16:56:35.765Z","createdAt":"2026-02-16T15:35:34.152Z","id":"jbEB96CBOZVRHjty","name":"Phakkhaphong Krittawat <phakkhaphong@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"f1acc764-50ad-411f-aeab-dbf3971a36a5"}}]}]