n8n/workflows/embedding_pipeline.json
{
  "name": "Ontoiq: Embedding Pipeline (Native)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [50, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, source_id, chunk_text, chunk_number FROM content_chunks WHERE qdrant_point_id IS NULL ORDER BY created_at ASC LIMIT 50"
      },
      "id": "postgres-fetch-pending",
      "name": "Fetch Pending Chunks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [250, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-ontoiq",
          "name": "Ontoiq Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-has-chunks",
      "name": "Has Pending Chunks?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1536
        }
      },
      "id": "openai-embeddings",
      "name": "OpenAI Embeddings",
      "type": "n8n-nodes-base.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-api",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "collection": "content_embeddings",
        "points": [
          {
            "id": "={{ $json.id }}",
            "vector": "={{ $json.embedding }}",
            "payload": {
              "chunk_id": "={{ $json.id }}",
              "source_id": "={{ $json.source_id }}",
              "chunk_number": "={{ $json.chunk_number }}",
              "created_at": "={{ $now }}"
            }
          }
        ]
      },
      "id": "qdrant-upsert",
      "name": "Upsert to Qdrant",
      "type": "n8n-nodes-base.qdrantVectorStore",
      "typeVersion": 1,
      "position": [850, 300],
      "credentials": {
        "qdrantApi": {
          "id": "qdrant-api",
          "name": "Qdrant API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": "content_chunks",
        "columns": {
          "qdrant_point_id": "={{ $json.id }}",
          "embedding_model": "text-embedding-3-large",
          "embedding_generated_at": "={{ $now }}"
        },
        "where": {
          "id": "={{ $json.id }}"
        }
      },
      "id": "postgres-update",
      "name": "Update Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1050, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-ontoiq",
          "name": "Ontoiq Postgres"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "wait-rate-limit",
      "name": "Wait (Rate Limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [650, 100],
      "webhookId": "rate-limit-wait"
    },
    {
      "parameters": {
        "chatId": "={{ $vars.USER_TELEGRAM_ID }}",
        "text": "✅ Embedding pipeline completed: {{ $json.length }} chunks processed"
      },
      "id": "telegram-success",
      "name": "Notify Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1250, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $vars.USER_TELEGRAM_ID }}",
        "text": "⚠️ Embedding pipeline: No pending chunks found"
      },
      "id": "telegram-no-chunks",
      "name": "Notify No Chunks",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [650, 500],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Pending Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending Chunks": {
      "main": [
        [
          {
            "node": "Has Pending Chunks?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pending Chunks?": {
      "main": [
        [
          {
            "node": "Wait (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify No Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Rate Limit)": {
      "main": [
        [
          {
            "node": "OpenAI Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings": {
      "main": [
        [
          {
            "node": "Upsert to Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to Qdrant": {
      "main": [
        [
          {
            "node": "Update Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Postgres": {
      "main": [
        [
          {
            "node": "Notify Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "ontoiq",
      "color": "#3b82f6"
    },
    {
      "name": "embedding",
      "color": "#8b5cf6"
    },
    {
      "name": "native",
      "color": "#22c55e"
    }
  ]
}
