n8n/workflows/human_in_loop_approval.json
[{"updatedAt":"2026-02-18T14:40:01.198Z","createdAt":"2026-02-18T14:38:52.739Z","id":"Lys7fWPiBY88s0QG","name":"Ontoiq: Human-in-the-Loop Approval (Native)","description":null,"active":true,"isArchived":false,"nodes":[{"id":"trigger-schedule","name":"Schedule Trigger","parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":2}]}},"position":[50,300],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1},{"id":"read-drafts","name":"Read Drafts Folder","parameters":{"fileSelector":"/vault/03-Drafts/social-posts/drafts/*.md","options":{"recursive":false}},"position":[250,300],"type":"n8n-nodes-base.readBinaryFiles","typeVersion":1},{"id":"if-has-drafts","name":"Has New Drafts?","parameters":{"conditions":{"combinator":"and","conditions":[{"id":"condition-1","leftValue":"={{ $binary?.fileName?.length || 0 }}","operator":{"operation":"gt","type":"number"},"rightValue":0}]}},"position":[450,300],"type":"n8n-nodes-base.if","typeVersion":2},{"id":"parse-draft","name":"Parse Draft Content","parameters":{"duplicateItem":false,"fields":{"values":[{"name":"filename","type":"string","value":"={{ $binary.fileName.split('/').pop() }}"},{"name":"content","type":"string","value":"={{ $binary.data.toString() }}"},{"name":"filepath","type":"string","value":"={{ $binary.fileName }}"}]},"mode":"manual"},"position":[650,200],"type":"n8n-nodes-base.set","typeVersion":3.2},{"id":"telegram-send-draft","name":"Send Draft for Review","parameters":{"chatId":"={{ $vars.USER_TELEGRAM_ID }}","options":{"disable_web_page_preview":true,"parse_mode":"Markdown"},"text":"📝 **Draft for Review**\\n\\n**File**: {{ $json.filename }}\\n\\n---\\n\\n{{ $json.content.substring(0, 800) }}{{ $json.content.length > 800 ? '...' : '' }}\\n\\n---\\n\\n✅ **Reply to approve**:\\n• `approve {{ $json.filename }}` — Move to ready/\\n• `edit {{ $json.filename }}` — Keep for editing\\n• `reject {{ $json.filename }}` — Delete draft\\n\\n⏰ *Auto-archive in 7 days if no response*"},"position":[850,200],"type":"n8n-nodes-base.telegram","typeVersion":1.1},{"id":"postgres-log-pending","name":"Log Pending Review","parameters":{"operation":"executeQuery","options":{"mode":"each"},"parameters":[{"name":"filename","value":"={{ $json.filename }}"},{"name":"content_preview","value":"={{ $json.content.substring(0, 200) }}"}],"query":"INSERT INTO draft_reviews (filename, content_preview, status, sent_for_review_at) VALUES ($1, $2, 'pending', NOW()) ON CONFLICT (filename) DO NOTHING;"},"position":[1050,200],"type":"n8n-nodes-base.postgres","typeVersion":2.4},{"id":"telegram-no-drafts","name":"Notify No Drafts","parameters":{"chatId":"={{ $vars.USER_TELEGRAM_ID }}","text":"✅ No new drafts to review"},"position":[650,400],"type":"n8n-nodes-base.telegram","typeVersion":1.1},{"id":"trigger-webhook","name":"Webhook Trigger (Test)","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[50,150],"parameters":{"httpMethod":"POST","path":"test-send-drafts","responseMode":"lastNode"}}],"connections":{"Has New Drafts?":{"main":[[{"index":0,"node":"Parse Draft Content","type":"main"}],[{"index":0,"node":"Notify No Drafts","type":"main"}]]},"Parse Draft Content":{"main":[[{"index":0,"node":"Send Draft for Review","type":"main"}]]},"Read Drafts Folder":{"main":[[{"index":0,"node":"Has New Drafts?","type":"main"}]]},"Schedule Trigger":{"main":[[{"index":0,"node":"Read Drafts Folder","type":"main"}]]},"Send Draft for Review":{"main":[[{"index":0,"node":"Log Pending Review","type":"main"}]]},"Webhook Trigger (Test)":{"main":[[{"node":"Read Drafts Folder","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Bangkok","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[18]}},"meta":null,"pinData":null,"versionId":"679b2f4f-729a-4d3b-8f83-5945bb1fa9ae","activeVersionId":"679b2f4f-729a-4d3b-8f83-5945bb1fa9ae","versionCounter":36,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2026-02-18T14:38:52.739Z","createdAt":"2026-02-18T14:38:52.739Z","role":"workflow:owner","workflowId":"Lys7fWPiBY88s0QG","projectId":"jbEB96CBOZVRHjty","project":{"updatedAt":"2026-02-16T16:56:35.765Z","createdAt":"2026-02-16T15:35:34.152Z","id":"jbEB96CBOZVRHjty","name":"Phakkhaphong Krittawat <phakkhaphong@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"f1acc764-50ad-411f-aeab-dbf3971a36a5"}}]}]