n8n/workflows/human_in_loop_send.json
{
  "name": "Ontoiq: Human-in-the-Loop Approval (Native)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [50, 300]
    },
    {
      "parameters": {
        "fileSelector": "/vault/03-Drafts/social-posts/drafts/*.md",
        "options": {
          "recursive": false
        }
      },
      "id": "read-drafts",
      "name": "Read Drafts Folder",
      "type": "n8n-nodes-base.readBinaryFiles",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $binary?.fileName?.length || 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-has-drafts",
      "name": "Has New Drafts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "fields": {
          "values": [
            {
              "name": "filename",
              "type": "string",
              "value": "={{ $binary.fileName.split('/').pop() }}"
            },
            {
              "name": "content",
              "type": "string",
              "value": "={{ $binary.data.toString() }}"
            },
            {
              "name": "filepath",
              "type": "string",
              "value": "={{ $binary.fileName }}"
            }
          ]
        }
      },
      "id": "parse-draft",
      "name": "Parse Draft Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $vars.USER_TELEGRAM_ID }}",
        "text": "📝 **Draft for Review**\n\n**File**: {{ $json.filename }}\n\n---\n\n{{ $json.content.substring(0, 800) }}{{ $json.content.length > 800 ? '...' : '' }}\n\n---\n\n✅ **Reply to approve**:\n• `approve {{ $json.filename }}` — Move to ready/\n• `edit {{ $json.filename }}` — Keep for editing\n• `reject {{ $json.filename }}` — Delete draft\n\n⏰ *Auto-archive in 7 days if no response*",
        "options": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": true
        }
      },
      "id": "telegram-send-draft",
      "name": "Send Draft for Review",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [850, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO draft_reviews (filename, content_preview, status, sent_for_review_at) VALUES ($1, $2, 'pending', NOW()) ON CONFLICT (filename) DO NOTHING;",
        "options": {
          "mode": "each"
        },
        "parameters": [
          {
            "name": "filename",
            "value": "={{ $json.filename }}"
          },
          {
            "name": "content_preview",
            "value": "={{ $json.content.substring(0, 200) }}"
          }
        ]
      },
      "id": "postgres-log-pending",
      "name": "Log Pending Review",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1050, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-ontoiq",
          "name": "Ontoiq Postgres"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $vars.USER_TELEGRAM_ID }}",
        "text": "✅ No new drafts to review"
      },
      "id": "telegram-no-drafts",
      "name": "Notify No Drafts",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [650, 400],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Drafts Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Drafts Folder": {
      "main": [
        [
          {
            "node": "Has New Drafts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Drafts?": {
      "main": [
        [
          {
            "node": "Parse Draft Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify No Drafts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Draft Content": {
      "main": [
        [
          {
            "node": "Send Draft for Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Draft for Review": {
      "main": [
        [
          {
            "node": "Log Pending Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "ontoiq",
      "color": "#3b82f6"
    },
    {
      "name": "approval",
      "color": "#f59e0b"
    },
    {
      "name": "native",
      "color": "#22c55e"
    }
  ]
}
