n8n/workflows/rag_query.json
{
  "name": "Ontoiq: RAG Query (Native)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-query",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trigger-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [50, 300],
      "webhookId": "rag-query"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "fields": {
          "values": [
            {
              "name": "query",
              "type": "string",
              "value": "={{ $json.body.query }}"
            },
            {
              "name": "domain_filter",
              "type": "string",
              "value": "={{ $json.body.domain || null }}"
            },
            {
              "name": "top_k",
              "type": "number",
              "value": "={{ $json.body.top_k || 5 }}"
            }
          ]
        }
      },
      "id": "set-parse-query",
      "name": "Parse Query",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1536
        }
      },
      "id": "openai-embeddings-query",
      "name": "Query Embeddings",
      "type": "n8n-nodes-base.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-api",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "collection": "content_embeddings",
        "search": {
          "vector": "={{ $json.embedding }}",
          "limit": "={{ $json.top_k }}",
          "withPayload": true,
          "withDistance": true
        }
      },
      "id": "qdrant-search",
      "name": "Search Qdrant",
      "type": "n8n-nodes-base.qdrantVectorStore",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "qdrantApi": {
          "id": "qdrant-api",
          "name": "Qdrant API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT cc.id, cc.chunk_text, cc.chunk_number, cs.title as source_title, cs.source_type\nFROM content_chunks cc\nJOIN content_sources cs ON cc.source_id = cs.id\nWHERE cc.id = ANY($1::uuid[]);",
        "options": {},
        "parameters": [
          {
            "name": "chunk_ids",
            "value": "={{ $json.map(r => r.id) }}"
          }
        ]
      },
      "id": "postgres-fetch-chunks",
      "name": "Fetch Chunk Content",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [850, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-ontoiq",
          "name": "Ontoiq Postgres"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "fields": {
          "values": [
            {
              "name": "context",
              "type": "string",
              "value": "={{ $input.all().map(c => `Source: ${c.json.source_title} (${c.json.source_type})\nChunk ${c.json.chunk_number}:\n${c.json.chunk_text}\n---`).join('\n\n') }}"
            }
          ]
        }
      },
      "id": "set-build-context",
      "name": "Build Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "url": "http://openclaw:18789/tools/invoke",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "tool": "sessions_send",
          "args": {
            "sessionKey": "agent:main:main",
            "message": "User Query: {{ $json.query }}\n\n## Retrieved Context:\n\n{{ $json.context }}\n\nBased on the above context, please provide a comprehensive answer to the user's query. If the context doesn't contain enough information, please say so."
          }
        }
      },
      "id": "http-openclaw-rag",
      "name": "Call OpenClaw for Answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "fields": {
          "values": [
            {
              "name": "query_text",
              "type": "string",
              "value": "={{ $json.query }}"
            },
            {
              "name": "results_count",
              "type": "number",
              "value": "={{ $json.length }}"
            }
          ]
        }
      },
      "id": "set-log-query",
      "name": "Prepare Query Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "query_logs",
        "columns": {
          "query_text": "={{ $json.query_text }}",
          "results_count": "={{ $json.results_count }}"
        }
      },
      "id": "postgres-log-query",
      "name": "Log Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1250, 500],
      "credentials": {
        "postgres": {
          "id": "postgres-ontoiq",
          "name": "Ontoiq Postgres"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Query": {
      "main": [
        [
          {
            "node": "Query Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Embeddings": {
      "main": [
        [
          {
            "node": "Search Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Qdrant": {
      "main": [
        [
          {
            "node": "Fetch Chunk Content",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Query Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Chunk Content": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "Call OpenClaw for Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenClaw for Answer": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Query Log": {
      "main": [
        [
          {
            "node": "Log Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "ontoiq",
      "color": "#3b82f6"
    },
    {
      "name": "rag",
      "color": "#10b981"
    },
    {
      "name": "native",
      "color": "#22c55e"
    }
  ]
}
